.bottomButton{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  p{
    text-align: center;
  }
  a{
    display: block;
    width: 80%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;
    &.isNa{
      background-color: skyblue;
      color: #FFFFFF;
    }
    &.notNa{
      background-color: #ececec;
    }
  }
}


