.ad_list{
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: auto;
  .ad_list_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px auto;
    h1,h2{
      font-weight: normal;
    }
    h1{
      font-size: 16px;
    }
    h2{
      font-size: 14px;
    }
  }

}
