.ad_container_list{
  width: 100%;
  box-sizing: border-box;
  height: auto;
  li{
    height: 100px;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
  }

}
